.submit-input-field>input {
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 0.8125rem;
    cursor: pointer;
    width: 100%;
}

.primary {
    background-color: rgb(0, 112, 210);
    color: white;
    border: 1px solid transparent;
}

.secondary {
    background-color: #ffffff;
    border: 1px solid #D8DDE6;
    color: #0070d2 !important;
}

.secondary:hover {
    background-color: #F4F6F9;
}