.text-input-field>label {
    font-size: 12px;
    color: rgb(84, 105, 141);
}

.text-input-field>input {
    border: 1px solid rgb(216, 221, 230);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 0.8125rem;
    transition: all 0.1s ease 0s;
    width: 100%;
    padding: 12px;
}

.text-input-field>input:focus {
    border: 1px solid rgb(21, 137, 238);
    box-shadow: rgb(0 112 210) 0px 0px 3px;
}