.input-field.text>input {
    border: 1px solid rgb(216, 221, 230);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 0.8125rem;
    transition: all 0.1s ease 0s;
    padding: 12px;
}

.input-field.text>input:focus {
    border: 1px solid rgb(21, 137, 238);
    box-shadow: rgb(0 112 210) 0px 0px 3px;
    outline: 0px;
}