.pad8 {
    padding: 8px;
}

.pad-tb-8 {
    padding: 8px 0px;
}

.mt8 {
    margin-top: 0.5rem;
}

.mb8 {
    margin-bottom: 0.5rem;
}

.mr8 {
    margin-right: 8px;
}

.mb16 {
    margin-bottom: 1rem;
}

.r4 {
    border-radius: 4px;
}

.fl {
    float: left;
}

.hidden {
    display: none;
}

.wide {
    width: 100%;
}